	.page {
		.content{
			width:100vw;
			height: 100vh;
			position: relative;
			color: #FFFFFF;
			background-color: #000;
			.operation-area{
				padding-top: 150rpx;
				.rhythm-box{
					// width: 100%;
					padding: 30rpx;
					box-sizing: border-box;
					overflow: hidden;
					overflow-x: auto;
					.handle-icon{
						width: 50rpx;
						height: 50rpx;
						border-radius: 50%;
						text-align: center;
						line-height: 50rpx;
						font-size: 48rpx;
						color: #fff;
					}
					.add-icon{
						// margin-left: 20rpx;
					}
					.delete-icon{
						margin-right: 20rpx;
					}
					.point-list-box{
						margin-right: 20rpx;
						.point-list{
							margin-top: 20rpx;
							.point-item{
								width: 50rpx;
								height: 50rpx;
								margin-bottom: 20rpx;
								text-align: center;
								line-height: 50rpx;
								border-radius: 50%;	
							}
							.circle-item-strong {
								color: #007AFF;
								font-size: 50rpx;
							}
							.level-one{
								border: 8rpx solid rgba($color: #fff, $alpha: 0.4);
								box-sizing: border-box;
							}
							.level-two{
								border: 8rpx solid #fff;
								box-sizing: border-box;
							}
							.level-three{
								border: none;
								background: #fff;
							}
							.level-four{
								border: none;
								background: #edf940;
							}
						}
					}
				}
			}
			.handle-box{
				position: absolute;
				bottom: 150rpx;
				z-index: 100;
				width: 90%;
				height: 120rpx;
				border-radius: 10rpx;
				margin: 0 5%;
				background: #131313;
				.handle-btn{
					width: 50rpx;
					height: 50rpx;
					font-size: 80rpx;
					line-height: 50rpx;
				}
				.beatsNum-box{
					width: 150rpx;
					height: 50rpx;
					font-size: 80rpx;
					line-height: 50rpx;
					text-align: center;
				}
				.play-btn{
					margin-left: 30rpx;
				}
			}
			.handle-box-acitve{
				bottom: 450rpx;	
				transition-duration: 0.3s;
			}
			.handle-box-init{
				bottom: 150rpx;
				transition-duration: 0.3s;
			}
		}	
		.circle-item-active {
			transition: all 20ms;
			transform: scale(1.5);
		}
	}
