	.page {
		.content{
			width:100vw;
			height: 100vh;
			position: relative;
			color: #FFFFFF;
			background-color: #000;
			&-top{
				height: 100rpx;
				line-height: 100rpx;
				text-align: center;
				font-size: 40rpx;
			}
			.operation-area{
				height: calc(100vh - 300rpx);
				padding: 50rpx 30rpx 30rpx 30rpx;
				box-sizing:border-box;
				overflow: hidden;
				overflow-y: auto;
				overflow-x: auto;
				.rhythm-box{
					height: 100%;
					padding: 30rpx;
					box-sizing: border-box;
					overflow: hidden;
					overflow-y: auto;
					overflow-x: auto;
					&-icon{
						text-align: center;
					}
					.handle-icon{
						width: 50rpx;
						height: 50rpx;
						border-radius: 50%;
						text-align: center;
						line-height: 50rpx;
						font-size: 48rpx;
						color: #fff;
					}
					.add-icon{
						// margin-left: 20rpx;
					}
					.delete-icon{
						margin-right: 20rpx;
					}
					.point-list-box{
						.point-list{
							margin-top: 0rpx;
							&-item{
								height: calc(100% - 100rpx);
							}
							.point-icon{
								padding: 40rpx;
							}
							.point-item{
								width: 30rpx;
								height: 30rpx;
								text-align: center;
								line-height: 50rpx;
								border-radius: 50%;	
							}
							.circle-item-strong {
								color: #007AFF;
								font-size: 50rpx;
							}
				
							.level-one{
								border: none;
								background: #edf940;
							}
							.level-two{
								border: none;
								background: #fff;
							}
							.level-three{
								border: 8rpx solid #fff;
								box-sizing: border-box;
							}
							.level-four{
								border: 8rpx solid rgba($color: #fff, $alpha: 0.4);
								box-sizing: border-box;
							}
						}
					}
				}
			}
			.handle-box{
				position: absolute;
				bottom: 150rpx;
				z-index: 100;
				width: 90%;
				height: 120rpx;
				border-radius: 10rpx;
				margin: 0 5%;
				background: #131313;
				.handle-btn{
					width: 50rpx;
					height: 50rpx;
					font-size: 80rpx;
					line-height: 50rpx;
				}
				.beatsNum-box{
					width: 150rpx;
					height: 50rpx;
					font-size: 80rpx;
					line-height: 50rpx;
					text-align: center;
				}
				.play-btn{
					margin-left: 30rpx;
				}
			}
			.handle-box-acitve{
				bottom: 450rpx;	
				transition-duration: 0.3s;
			}
			.handle-box-init{
				bottom: 150rpx;
				transition-duration: 0.3s;
			}
		}	
		.circle-item-active {
			transform: scale(1.5);
			animation: dongHua 500ms 1 ease-in-out;
		}
	}
@keyframes dongHua {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}